* {
	margin: 0;
	padding: 0;
}

nav {
	background-color: #232323;
	color: white;
}

.menu {
	text-align: center;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 600;
}

.menu li {
	display: inline-block;
	margin-left: 2rem;
	margin: 1rem;
}

.menu li:hover {
	color: rgb(216, 205, 205);
	transition: 0.5s;
	transform: scale(1.1);
	cursor: pointer;
}

.welcome {
	position: relative;
	height: 75vh;
	overflow: hidden;
	text-align: center;
}

.welcome img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center top;
}

.welcome h1,
.welcome p,
.welcome button {
	position: absolute;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
	color: white;
	padding: 1rem;
	box-sizing: border-box;
}

.welcome h1 {
	top: 20%; /* Ajuste conforme necessário */
	font-size: 3.5rem;
	margin: 0; /* Remove qualquer margem padrão */
	white-space: nowrap; /* Evita a quebra de linha */
}

.welcome p {
	top: 30%; /* Ajuste conforme necessário */
	font-size: 1.3rem;
	margin: 0; /* Remove qualquer margem padrão */
	white-space: nowrap; /* Evita a quebra de linha */
}

.welcome button {
	position: absolute;
	width: 12vh;
	top: 40%;
	border: none;
	background-color: #fea400;
	color: black;
	font-weight: 600;
	display: inline-block;
	border-radius: 0.5rem;
	font-size: 1rem;
	margin: 0;
	white-space: nowrap;
}

.welcome button:hover {
	cursor: pointer;
}

body {
	text-align: center;
}

h2 {
	font-family: monospace;
	font-size: 1.5rem;
	margin: 2rem;
}

section > ul > li {
	display: inline-block;
}

.block-1,
.block-2,
.block-3,
.block-4 {
	margin: 1rem;
}

.cards {
	display: inline-block;
	background-color: #fea400;
	margin: 2rem;
	padding: 2rem;
}
