@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:wght@400;600&display=swap");

:root {
  --primary-color: #d4af37;
  --secondary-color: #1a1a1a;
  --background-color: #f8f5f2;
  --text-color: #333;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background: var(--text-color) url("../assets/cebola-background.jpg")
    center/cover no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Container principal */
.main-container {
  display: flex;
  flex-direction: column;
  background: #9c9c9c;
  padding: 30px;
  margin-top: 1rem;
  border-radius: 4px;
  width: 90%;
  max-width: 1200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px 20px 20px;
}

.nav-left {
  display: flex;
  align-items: center;
  flex: 1;
}

.logo {
  width: 120px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
  margin-right: 15px;
}

.titulo-site {
  font-family: "Lobster", cursive;
  font-size: 3rem; /* Aumenta o tamanho da fonte */
  letter-spacing: 0.15em; /* Aumenta o espaçamento entre as letras */
  color: #333;
  margin: 0;
}

.nav-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 100px;
}

nav ul li a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: var(--primary-color);
  border-bottom: solid 5px #d4af37;
  border-radius: 4px;
}

/* Texto central */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  padding: 40px;
  gap: 20px;
  animation: fadeIn 4s ease forwards;
  opacity: 0;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.hero h1 {
  font-size: 1.5rem;
  color: var(--secondary-color);
}

.hero p {
  font-size: 1rem;
  color: var(--text-color);
}

.hero-content {
  flex: 1;
  max-width: 50%;
}

.hero-image {
  flex: 1;
  max-width: 50%;
  height: 300px;
  background: url("/barbershop/assets/1.jpg");
  clip-path: polygon(10% 0%, 100% 0, 90% 100%, 0% 100%);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.247);
  background-size: cover;
  border-radius: 10px;
}

/* Botão */
.btn {
  margin-top: 20px;
  display: inline-block;
  background: var(--primary-color);
  color: white;
  padding: 20px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: gold;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

/* Horários e contato */
.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  background: var(--primary-color);
  padding: 30px;
  margin-top: 1rem;
  border-radius: 4px;
  width: 90%;
  max-width: 1200px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.table {
  background: var(--background-color);
  display: inline-block;
  margin: 24px 0;
  padding: 0 15px;
  border-radius: 6px;
}

.tel-container {
  margin: 24px 0;
  padding: 0 15px;
  background: var(--background-color);
  display: inline-block;
  border-radius: 6px;
}

.table-flex {
  padding: 16px;
}

h4 {
  margin-bottom: 8px;
  font-size: large;
}

.table-hours-justify-content-between {
  display: flex;
  justify-content: space-between;
}

.table-container,
.contact {
  flex: 1; /* Faz com que as divs cresçam igualmente */
  min-width: 300px; /* Garante que as divs não fiquem muito estreitas em telas menores */
}

/* Responsividade */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .main-container {
    padding: 20px;
  }

  .hero {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .hero h1 {
    font-size: 1.5rem;
  }

  .hero p {
    font-size: 0.9rem;
  }

  .hero-content,
  .hero-image {
    max-width: 100%;
  }

  .hero-image {
    height: 200px;
    border-radius: 10px;
    clip-path: none;
    background-position: center;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .logo {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .titulo-site {
    text-align: center;
  }

  .nav-left {
    flex-direction: column;
    align-items: center;
  }

  .row {
    flex-direction: column;
  }
}
