* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Catamaran", sans-serif;
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #b8952e;
}

body {
  margin: 0;
  height: 100vh; /* Certifica-se de que a altura ocupe a tela toda */
  display: flex;
  justify-content: center; /* Centraliza o conteúdo */
  align-items: center;
  background-color: #1f1d1d; /* Fundo mais escuro (ou o que preferir) */
}

.container {
  width: 100%; /* Garantir que a largura ocupe a tela toda */
  height: 100%; /* Garantir que a altura ocupe a tela toda */
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  position: absolute;
  top: 1rem; /* Distância do topo */
  left: 50%; /* Para centralizar horizontalmente */
  transform: translateX(-50%); /* Corrige o alinhamento */
  background-color: #2e2c30;
  padding: 0.75rem 1.25rem;
  border-bottom-right-radius: 0.75rem;
  height: 3.5rem;
  width: 8.7rem;
}

@media (max-width: 1100px) {
  :root {
    font-size: 14px; /* Reduz o tamanho da fonte em telas pequenas */
  }

  .container {
    display: flex;
    flex-direction: column; /* Ajusta o layout para coluna */
  }
}
